<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Crouse_project_.Properties.Settings.RMConnectionString"
            connectionString="Data Source=prostovlad;Initial Catalog=RM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Crouse_project_.Properties.Settings.RMConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=RM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>